@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

html {
    background-color: #050014;
}

.background {
    background-image: url('/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
}